@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

h1 {
    font-family: monospace;
    text-align: center;
    margin: 90px;
    color: white;
}

h1 > span.color {
    font-size: 0.9em;
    background-color: red;
}

body > img {
    margin: 0 10px;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  
  img {
    max-height: 250px;
  }

  
